*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--VeryDarkBlue: hsl(234, 12%, 34%);
--GrayishBlue: hsl(229, 6%, 66%);
--VeryLightGray: hsl(0, 0%, 98%);
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif; 
    margin-top: 30px;
}
.container h1{
    font-size: 1.6rem;
    color: var(--GrayishBlue);
    font-weight: 400;
}
.container h2{
    font-size: 1.6rem;
    color: var(--VeryDarkBlue);
    font-weight: 600;
}
#para{
    font-size: 0.7rem;
    color: var(--GrayishBlue);
    font-weight: 400;
    margin-top: 15px;
}

.card-Area{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card1{
    box-shadow: 0 10px 10px hsla(212, 86%, 64%, 0.267);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    text-align: start;
    margin: 15px;
    border-radius: 5px;
}
.card1 h4{
    font-weight: 700;
    color: var(--VeryDarkBlue);
}

.card1 p{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--GrayishBlue);
    margin-top: 10px;
}
.image{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.card1 img{
    width: 50px;
}

.first{
    border-top: 3px solid var(--Cyan) ;
    width: 300px;
}

.second{
    border-top: 3px solid var(--Red);
}

.third{
    border-top: 3px solid var(--Orange);
    margin-top: 20px;
}

.fourth{
    border-top: 3px solid var(--Blue);
}